*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.total{
    height: 100vh;
    box-sizing: border-box;
}

.container{
    height: 9vh;
    border-bottom: 2px solid rgb(228 227 227);
}

nav{
    margin: 15px 20px 0 20px;
    display: flex;
    height: 50px;
}

.logo{
    width: 30vw;
}

.nav-content{
    display: flex;
}

.nav-content > ul{
    display: flex;
    justify-content: space-between;
    width: 40vw;
    align-items: center;
}

.nav-content > ul > li{
    list-style: none;
    color: rgb(88, 88, 88);
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-content > ul > li:hover{
    transform: translateY(2px);
    color: rgb(78, 78, 78);;
}

.username{
    display: flex;
    width: 30vw;
    justify-content: flex-end;
}

main{
    display: flex;
    width: 100vw;
    height: 90vh;
    /* padding-left: 150px; */

}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    /* align-items: center; */
    width: 50vw;
    padding-left: 10vw;
}

.left p:nth-child(1){
    font-size: 45px;
    font-weight: 40px;
}

.left p:nth-child(2){
    color: rgb(0, 179, 255);
    font-size: 45px;
    font-weight: 40px;
}

.left p:nth-child(3){
    color: rgb(133, 133, 133);
    font-size: 18px;
    font-weight: 40px;
}

button{
    width: 210px;
    height: 51px;
    font-size: 20px;
    border-radius: 60px;
    background-color: rgb(45, 191, 254);
    color: white;
    border: none;
}

button:hover{
    transform: scale(1.02);
}

.right{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 50vw;
    align-items: center;
}

.right img:hover{
    transform: scale(1.2);
}

@media (max-width: 900px){
    .right img{
        height: 320px;
    }
    .nav-content > ul > li{
        font-size: 15px;
    }
    .logo, .username{
        width: 25vw;
    }
    .nav-content > ul{
        width: 50vw;
    }

}

@media (max-width: 500px){
    main{
        flex-direction: column;
    }
    .left{
        width: 100%;
        padding: 10%;
    }

    .left p:nth-child(2){
        font-size: 40px;
    }

    .right{
        margin: auto;
    }
    button{
        margin: auto;
    }
    .nav-content > ul > li{
        font-size: 10px;
    }
    nav{
        margin: 5px 2px;
    }
    .logo, .username{
        width: 20vw;
    }
    .nav-content > ul{
        width: 60vw;
    }
}
